@model IEnumerable<WebKuaforProje.Data.Kullanici>

<h2>Kullanıcı Listesi</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Telefon No</th>
            <th>Kullanıcı Adı</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kullanici in Model)
        {
            <tr>
                <td>@kullanici.Id</td>
                <td>@kullanici.Ad</td>
                <td>@kullanici.Soyad</td>
                <td>
                    <form asp-action="KullaniciGuncelle" asp-controller="Admin" method="post" onsubmit="return confirm('Bu kullanıcının Telefon Numarasını güncellemek istediğinize emin misiniz?');">
                        <input type="hidden" name="Id" value="@kullanici.Id" />
                        <input type="text" name="TelefonNo" value="@kullanici.TelefonNo" class="form-control" />
                        <button type="submit" class="btn btn-warning">Güncelle</button>
                    </form>
                </td>
                <td>@kullanici.KullaniciAdi</td>
                <td>@kullanici.Rol</td>
                <td>
                    @if (kullanici.Rol != "admin")
                    {
                        <form asp-action="KullaniciKaldir" asp-controller="Admin" method="post" onsubmit="return confirm('Bu kullanıcıyı kaldırmak istediğinize emin misiniz?');">
                            <input type="hidden" name="id" value="@kullanici.Id" />
                            <button type="submit" class="btn btn-danger">Kaldir</button>
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
